/* Stil für den gesamten Seiteninhalt */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Stil für den Header */
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
  }
  
  header a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
  }
  
  /* Stil für den Haupttitel */
  h1 {
    margin: 0;
  }
  
  /* Stil für den Untertitel */
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Stil für den Hauptcontainer */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Stil für den Textinhalt */
  .text {
    margin-bottom: 20px;
  }
  
  /* Stil für die Linkliste */
.list {
    text-align: center;
  }
  
  .list ul {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  
  .list li {
    margin-bottom: 10px;
    display: block;
  }
  
  .list a {
    text-decoration: none;
    color: #007bff;
  }
  
  .list a:hover {
    text-decoration: underline;
  }
  