/* Globale Stile */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
  color: #333;
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color:rgb(12, 41, 51);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


  header {
    background-color: #007BFF ;
    /* Header background color */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Padding for spacing */
    text-align: center;
    /* Center the content */
  }