/* Stil für den gesamten Seiteninhalt */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Stil für den Haupttitel */
  h1 {
    margin: 0;
  }
  
  /* Stil für den Untertitel */
  h2 {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Stil für den Hauptcontainer */
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Stil für den Textinhalt */
  .text {
    margin-bottom: 20px;
  }
  
  /* Stil für die Linkliste */
.list {
    text-align: center;
  }
  
  .list ul {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  
  .list li {
    margin-bottom: 10px;
    display: block;
  }
  
  .list a {
    text-decoration: none;
    color: #007bff;
  }
  
  .list a:hover {
    text-decoration: underline;
  }
  
  /* Entfernen der Standardeigenschaft für besuchte Links */
  .list a:visited {
    color: #007bff; /* Oder die gewünschte Farbe für besuchte Links */
  }
  
  header {
    background-color: #007BFF ;
    /* Header background color */
    width: 100%;
    /* Full width */
    padding: 20px;
    /* Padding for spacing */
    text-align: center;
    /* Center the content */
  }

  header a {
    text-decoration: none;
    font-size: 30px;
    color: #000; /* Ändern der Textfarbe auf Schwarz */
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3efef;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 /* Center the content */
 .logo img {
     position: absolute;
     left: 0;
     top: 0;
     margin-right: 15px;
     height: 325px;
     
 }