 h1 {
     color: rgb(34, 202, 15);
     font-size: 30px;
     margin-bottom: 10px;
 }

 p {
     color: rgb(34, 202, 15);
     font-size: 18px;
     line-height: 1.6;
 }

 a {
     color: rgb(34, 202, 15);
     font-size: 20px;
     margin-bottom: 10px;
 }

 h2 {
     color: rgb(34, 202, 15);
     font-size: 50px;
     margin-bottom: 10px;
 }

 body {
     background-color: rgb(3, 21, 24);
     display: flex;
     flex-direction: column;
     /* Change to column to stack header and content */
     align-items: center;
     /* Center content horizontally */
     height: 100vh;
     margin: 0;
 }

 header {
     background-color: rgb(12, 41, 51);
     /* Header background color */
     width: 100%;
     /* Full width */
     padding: 20px;
     /* Padding for spacing */
     text-align: center;
 }

 /* Center the content */
 .logo img {
     position: absolute;
     left: 0;
     top: 0;
     margin-right: 15px;
 }